<div class="container-fluid" style="padding: 0px 0px">
    <div style="text-align: center; background-color: rgb(59, 65, 72); " class="col-sm-3 ">
    <div class="button-tab" style="display: grid">
      <button type="button" class="btn btn-primary tab-button">All Reservation Slots</button>
                          <button type="button" class="btn btn-primary tab-button">Fixed Supply Slots</button>
                          <button type="button" class="btn btn-primary tab-button">Random Supply Slots</button>
    </div>
  </div>

    <div class="col-sm-9" style="text-align: center;  background-color: rgb(59, 65, 72)">
      <h1 style="margin:10px 0px;color: white">Mise Token Reservation</h1>
      
        <div class="card" style="width:400px">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
          <div class="card-body">
            <!-- <h4 class="card-title">John Doe</h4> -->
            <input type="date" id="birthday" name="birthday">
            <p>4-hour reservation slot #1</p>
            <p>10,000 MISE</p>
            <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
            
            <div class="col-md-6">
              <div><i class="fas fa-user-plus"></i></div>
              <input type="number" required name="price" min="0" value="0" step="any">
              <button class="btn btn-primary"> Total User</button>
            </div>
            <div class="col-md-6">
              <div><i class="fa fa-bandcamp" ></i></div>
              <input type="number" required name="price" min="0" value="0" step="any">
                <button class="btn btn-primary"> Total Ether</button>
              </div>
              <div>
                <button class="btn btn-primary">Reserve Mise</button>
                
              </div>
              <div>
                
              <input type="number" required name="price" min="0" value="0" step="any">
              </div>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="col-sm-6">
                  <p>your share</p>
                  <p>0 MISE</p>
                </div>
                <div class="col-sm-6">
                    <p>your share</p>
                    <p>0 MISE</p>
                  </div>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>


      </div>
  </div>
<!-- </div> -->
