button{
    background: linear-gradient(
        89.02deg
        , #6226D9 0.89%, #8C52FF 100%) !important;
    border-radius: 50px;
    margin: 10px;
  }

  .grise{
    color :#f1f1f1;
  }
  .grise::first-letter {
    font-size: 200%;
    color: #6610f2;
  }

 

  p,h4{
      color: #f1f1f1;
  }