<div class="col-sm-3" style="background-color: rgb(59, 65, 72); height: 100%;">
    <div style="display: grid">
      <div class="">
        <button type="button" class="btn btn-primary">Liquidity Event</button>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary">MISE STAKING</button>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary">Transaction HIstory</button>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary">Refund History</button>
      </div>
    </div>
  </div>
  <div class="col-sm-9" style="background-color: rgb(59, 65, 72); height: 100%;">
    <div class="" style="display: flex; border-bottom: 2px solid #111">
      <div
        class="grise"
        style="
          position: relative;
          font-size: 25px;
          font-weight: 700;
          font-family: Heebo, sans-serif;
          padding-left: 13px;
        ">
        GRISE
      </div>
      <div style="
          position: relative;
          margin-top:2%;
          font-size: 36px;
          font-weight: 700;
          color: floralwhite;
          margin-left: 20px;
        "
      >
        LIQUIDITY EVENT
      </div>
    </div>
    <div class="row" >
      <div class="col-md-6">
        <div style="box-sizing: border-box; border: 2px solid black; margin: 5px">
          <h4 style="text-align: center">
            Total eth contributed for all mise reservation days
          </h4>
          
          <div style="display: flex; margin-bottom: 5px">
            <div class="col-md-4">
                <i class="fab fa-bandcamp"></i>
            </div>
            <div class="col-md-4">
                <input type="text" name="bandcamp" placeholder="ETH" />
            </div>
            <div class="col-md-4">
                <h4 style="margin-left: 15px">ETH</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="box-sizing: border-box; border: 2px solid black; margin: 5px">
          <h4 style="text-align: center">
            Total time left unit liquidity event is closed
          </h4>
          <div style="display: flex; margin-bottom: 5px">
            <div class="col-md-6">
                <i class="fas fa-hourglass"></i>
            </div>
            <div class="col-md-6">
                <input type="text" name="time" placeholder="Time" />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin-top: 5%; ">
        <div class="col-sm-3" >
          <div style="box-sizing: border-box; border: 1px solid black; margin: 2px;">
              <h4>mise reservation</h4>
          </div>
        </div>
        <div class="col-sm-3" >
          <div style="box-sizing: border-box; border: 1px solid black; margin: 2px;">
              <h4>Unique contributor</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div style="box-sizing: border-box; border: 1px solid black; margin: 2px;">
              <h4>Unique Referrer</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div style="box-sizing: border-box; border: 1px solid black; margin: 2px;">
              <h4>current wise slot</h4>
          </div>
        </div>
    </div>
    <footer style="margin-top: 26%;">
      <div
      class="grise"
      style="
      border-top: 2px solid black;
        position: relative;
        font-size: 26px;
        font-weight: 700;
        font-family: Heebo, sans-serif;
        padding-left: 13px;
      "
    >
      GRISE
    </div>
    </footer>
  </div>
  