<!-- <div class="col-sm-3" style="background-color: rgb(59, 65, 72); height: 100%;"> -->
    <!-- <p>liquidity-event works!</p> -->
    <div style="display: flex">
        <div class="col-sm-3" style="background-color: rgb(59, 65, 72); height: 100%;">
            <div style="display: grid">
              <div class="">
                <button type="button" routerLink="liquidity_event" class="btn btn-primary">Liquidity Event</button>
              </div>
              <div class="">
                <button type="button" routerLink="mise_staking" class="btn btn-primary">MISE STAKING</button>
              </div>
              <div class="">
                <button type="button" routerLink="transaction_refund" class="btn btn-primary">Transaction HIstory</button>
              </div>
              <div class="">
                <button type="button"  routerLink="refund_history" class="btn btn-primary">Refund History</button>
              </div>
            </div>
          </div>
      <div class="col-sm-9" style="background-color: #fff; height: 100%;">
       <router-outlet></router-outlet>
      </div>
      
    </div>
    