        <div class="col-lg-3 " style="background-color: black">
                <div class="my-5 pt-5 " style="
                padding-top: 1rem!important;">
                  <div class="d-flex flex-column align-items-center">
                    <div style="height: 130px">
                        <div style="display: inline-block;color: #fff; padding: 5px 0px;" >
                            <div class="d-flex flex-column align-items-center">
                              <h1 class="xl-font-size font-weight-bold custom-mb  mb-auto" style="  ">GRISE TOKEN</h1></div>
                          </div>
                          <div class="text-move xl-font-size font-weight-bold custom-mb" style="width:200px; font: x-large  ;">
                              <div id="textonly" style="color: #fff">L</div>
                        </div>
                    </div>
                      <h4 class="gray-color text-center mt-2 mx-4" style="font-size: 16px;color: #9b9ebe">
                        Grise is a special staking platform. It will leverage 96% of presale to create a mighty and unremovable market on uniswap.org. This liquidity will further increase with each transaction making the system more robust overtime. 
                Grise is developed by a group of three extraordinary developers with rigorous testing. Grise is fucntional, complete and free of admin keys or anything that can threaten its decentralization.. Grise has a reward system that is unprecedented.! If you are looking for the most secure and fast way to earn crypto in the whole industry, there is no project out there better than us.
                      </h4>
                  </div> 
                  <div>
                      <button style="border-radius:50px" class="MuiButtonBase-root MuiButton-root MuiButton-contained flex-fill px-5 my-3  border border-2 MuiButton-containedPrimary MuiButton-containedSizeLarge MuiButton-sizeLarge" tabindex="0" type="button"><span class="MuiButton-label">
                          Technical Paper
                      </span><span class="MuiTouchRipple-root"></span></button>
                  
                    </div>
                </div>
        </div>
          
        <div class="col-lg-9" style="padding: 0px;">
          <video  class="videoplay" autoplay controls loop muted style="width:fit-content">
            <source src="../../assets/x.mp4" type="video/mp4" />
          </video>
        </div>