
  
        <div class="container-fluid" style="padding: 0px 0px">
                <div class="row content" style="display: contents">
                  <div style="text-align: center; background-color: rgb(59, 65, 72); " class="col-sm-3 sidenav">
                    <h1  style="padding-top: 100px"> MISE TOKEN </h1>
                    <p>
                        Secure, Fair, Sustainable, Exponential growth
                    </p>
                    <p style="margin: 50px">
                        Mise is a special staking platform. It will leverage 96% of presale to create a mighty and unremovable market on uniswap.org. This liquidity will further increase with each transaction making the system more robust overtime. 
                        Mise is developed by a group of three extraordinary developers with rigorous testing. Mise is fucntional, complete and free of admin keys or anything that can threaten its decentralization.. Mise has a reward system that is unprecedented.! If you are looking for the most secure and fast way to earn crypto in the whole industry, there is no project out there better than us.
                    </p>
                    <button type="button" class="btn btn-info">Info</button>

                    <div style="display: grid; ">
                            <div  class="">
                                <button type="button" class="btn btn-primary">Apple</button>
                                <button type="button" class="btn btn-primary">Samsung</button>
                                <button type="button" class="btn btn-primary">Sony</button>
                            </div>
                            <div  class="">
                              <button type="button" class="btn btn-primary">Apple</button>
                              <button type="button" class="btn btn-primary">Samsung</button>
                              <button type="button" class="btn btn-primary">Sony</button>
                            </div>
                            <div  class="">
                                <button type="button" class="btn btn-primary">Apple</button>
                            </div>
                    </div> 
                  </div>
              
                  <div class="col-sm-9" style="text-align: center; border-bottom: 2px solid #111; background-color: rgb(59, 65, 72)">
                      <video id="myvideo"   muted controls loop  style="height: 100%;width: inherit;" >
                          <source src="../../assets/x.mp4" type="video/mp4" />
                        </video>
                       
                    <h2 >MISE TOKEN</h2>
                        <div  class="">
                            <button type="button" class="btn btn-primary">Apple</button>
                            <button type="button" class="btn btn-primary">Samsung</button>
                            <button type="button" class="btn btn-primary">Sony</button>
                          </div>
                          
                    
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="col-md-4">
                              <h1 style="text-align: center">Reserve Mise

                                </h1>
                              <p style="margin: 50px">Mise will have a 200 hour launch period for participants to reserve MISE. Every 4 hours (except for extreme slots) there are 10,000 Mise available, which will be distributed proportionately according to total Ethereum sent during that time slot. 
                              </p>
                              <!-- <h2>loreem Epsum</h2> -->
                            </div>
                            <div class="col-md-4">
                              <h1 style="text-align: center">Stake MIse
                                </h1>
                              <p style="margin: 50px">Lock up Mise, to earn rewards in form of Ethereum and Mise tokens. Further rewards for mid-term and long-term stakers will be announced in Phase 2
                                </p><!-- <h2>loreem Epsum</h2> -->
                            </div>
                            <div class="col-md-4">
                                <h1 style="text-align: center">Earn Rewards- Sell Mise

                                  </h1>
                                <p style="margin: 50px">Your ether reward will directly go to your wallet. You can cash out your Mise without any fees after your staking period. MIse is designed to create a massive liquidity pool on Uniswap, and ability to swap from your private wallet on uniswap or Mise website. 
                                  </p>  <!-- <h2>loreem Epsum</h2> -->
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="text-align:center">
                              <h1 style="text-align: center">MISE Smart Contracts</h1>
                              <p style="margin: 50px">MISE project is designed with several contacts that work together to capitalize and grow 
                                  in a sustainable, safe way but at a faster rate than any other system that exists.
                                   Phase one of  Mise token mechanism will happen in the following manner
                                  </p>
                                   <!-- <h2>loreem Epsum</h2> -->
                            </div>
                        </div>
                      
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="col-md-6">
                              <h1 style="text-align: center">Launch event</h1>
                              <p style="margin: 50px">The launch contract will create 50 slots that will be 4 hours long. During this phase users can send ETH  or any other defi token to the contract to reserve MISE for the Main liquidity pool.
                                </p>
                                <h2>Reserve MIse</h2>
                            </div>
                            <div class="col-md-6">
                              <h1 style="text-align: center">Circulation Event</h1>
                              <p style="margin: 50px">This is the time when all the 50 slots are over. No further reservation can be made. Reserved MIse and all the referral bonus can be claimed by the user and users can begin staking.
                              </p>
                                    <h2>Stake MIse</h2>
                            </div>
                        </div>
                  
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="text-align:center">
                              <h1 style="text-align: center">Liquidity transformer</h1>
                              <p style="margin: 50px">Liquidity transformer is a Smart Contract that can trustlessly generate the main liquidity pool for Mise using Uniswap protocol. Mise tokens are minted for investors who make reservation during reservation phase. After the reservation phase is over users can claim these tokens, and equal amount of minted Tokens created for all users are paired with raised ethereum and sent to Uniswap. The contract than burns the admin keys. This ownerless liquidity backs up the value of Mise token. 
                              </p>  
                                <div class="col-md-6">
                                      <button type="button" class="btn btn-primary">Check Smart Contract</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary">Uniswap</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row" style="border-bottom: 2px solid #111;">
                              <div class="text-align:center">
                                <h1 style="text-align: center">Mise Contract Fees structure</h1>
                                <p style="margin: 50px">The Mise toke fees structure and rewards are designed to do the following, in sequence of importance:
                                    ---First to make sure that as time passes the system becomes more and more robust
                                    ---Second, to give the most possible benefit to the stakers, without compromising the system.
                                    ---Third, ensure they system gets built on in the future.
                                    ---Every token holder gets a residual benefit for being part of the system
                                      <!-- <h2>loreem Epsum</h2> -->
                                    </p>
                                    <button type="button" class="btn btn-primary">Transactional Fees, Contact cancellation fee structure</button>
                              
                              </div>
                              <div>
                                  <p style="margin: 50px">The contract will incur a transaction fees of 3.47% on the sell side of the transaction. Sell side fees can be eliminated if you stake your tokens for any amount of time. 

                                      ----1.06% goes to liquidity
                                      ----.91% goes to all token holders and stakers in the form of etherium.
                                      ----.57% goes to all stakers in the form of mise token (excludes liquidity tokens).
                                      ----.5% goes for operation and future development. 
                                      ----.43% goes to a burn address
                                      
                                      BUY Side fees--- .30%,---- .25% goes to liquidity and .05 goes for operation and future development. </p>
                                  <div class="col-md-6">
                                      <button type="button" class="btn btn-primary">See complete Mise token Mecanism: Document</button>
                                  </div> 
                                  <div class="col-md-6">
                                      <button type="button" class="btn btn-primary">Check Smart Contract</button>
                                  </div> 
                              </div>
                              <div>
                                  <p style="margin: 50px">If a staking contract is broken there will be 13% fees for breaking the contract.

                                      •The penalty will work on a sliding scale.
                                      A.  Example: If you are a short term staker and you broke your conract on the first hour of your weekly stake you will be penalized 13 %. During  the last hour you will be penalized 0%
                                      B.If you are a long or mid term staker. And break your contract on the first day it will cost you 13%. On your last day it will cost you 0%.
                                      • Penalty fee distribution structure. 
                                      A.  34.27% goes to liquidity.
                                      B.  27.81% percent will be distributed in the form of Ethereum to all mid-term and long term stakers stakers. 
                                      C. 12.81% will be distributed to all token holders and stakers in mise token form.
                                      D. 12.00% will go for operational expenses.
                                      E.  8.11% will be distributed to all the weekly stakers in the form of etherium.
                                      F.  5% will go to a burn address.
                                      </p>
                                  <div class="col-md-6">
                                      <button type="button" class="btn btn-primary">See complete Mise token Mecanism: Document</button>
                                  </div> 
                                  <div class="col-md-6">
                                      <button type="button" class="btn btn-primary">Check Smart Contract</button>
                                  </div> 
                              </div>
                        </div>
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="text-align:center">
                              <h1 style="text-align: center">Inflation</h1>
                              <p style="margin: 50px">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente reiciendis doloremque quae illum illo inventore vitae facere sit aperiam. Quia nihil ad, quibusdam laudantium perferendis dolore aspernatur? Totam, quisquam!</p>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="text-align:center">
                              <h1 style="text-align: center">Use DeFI Tokens for MISE Reservation</h1>
                              <p style="margin: 50px">Mise token has an inflation rate of 20% per year. 
                                  A.	80% inflation goes to medium term stakers and long term stakers.
                                  B.	20% inflation is given all token holders distributed weekly (tokens in lp excluded). 
                                  
                                </p>
                              <div class="col-md-2 ">
                                  <button type="button" class="btn btn-primary button-home">Check Smart Contract</button>
                              </div>
                              <div class="col-md-2 ">
                                  <button type="button" class="btn btn-primary button-home">Check Smart Contract</button>
                              </div>
                              <div class="col-md-2 ">
                                  <button type="button" class="btn btn-primary button-home">Check Smart Contract</button>
                              </div>
                              <div class="col-md-2 ">
                                  <button type="button" class="btn btn-primary button-home">Check Smart Contract</button>
                              </div>
                              <div class="col-md-2 ">
                                  <button type="button" class="btn btn-primary button-home">Check Smart Contract</button>
                              </div>
                              <div class="col-md-2 ">
                                  <button type="button" class="btn btn-primary button-home">Check Smart Contract</button>
                              </div>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="text-align:center">
                              <h1 style="text-align: center">Referral system</h1>
                              <p style="margin: 50px">MISE contract has a direct, one level referral system that rewards both the referrer and referee when a user reserves MISE</p>
                            </div>
                        
                            <div class="text-align:center">
                              <p style="margin: 50px">Your referral Link:

                                  https://misetoken.net/?w=yourwalletaddress
                                  </p>
                                  <button type="button" class="btn btn-primary">Check Smart Contract</button>

                            </div>
                        </div>
                        <div class="row" style="border-bottom: 2px solid #111;">
                            <div class="text-align:center">
                              <h1 style="text-align: center">MISE TEAM and Vision</h1>
                              <p style="margin: 50px">Our teams motivation and goals for this project can be summarized in 3 points.
                                  ----First to create a very robust system that becomes more robust with time.
                                  ----Secondly, make sure almost all the benefits go back to the contributors in proportion to their commitment to the project.
                                  ----Lastly, ensure the product gets built on-- we are excited for the future.
                                  
                                  To support our vision we conceptualized the project in December of 2020 and started working on it in January 2021.
                                  Our team consists of 3 expert developers working with a marketing team. We welcome you in our vision for the future.
                                  
                                </p>
                            </div>
                        
                            
                        </div>


                          
                  
                  
                </div>
              </div>
              
              