


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  .button-home{
    padding: 10px;
    margin: 10px;
  }
  
  
  
  .title {
    color: grey;
  }
  
  
  button{
    background: linear-gradient(
        89.02deg
        , #6226D9 0.89%, #8C52FF 100%) !important;
    border-radius: 50px;
    margin: 10px;
  }
  h1,h2{
      color: #f1f1f1;
  }
  p{
      color: #f1f1f1;
  }
  .sidenav{
    height: 2000px;
    @media (max-width : 768px ) {
      height:800px;
    }
  }